In [2]:
import pandas as pd

In [5]:
user = pd.read_csv('ratings.csv')
print(user)

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
5              1     1968     4.0  1425942148
6              1     2762     4.5  1425941300
7              1     2918     5.0  1425941593
8              1     2959     4.0  1425941601
9              1     4226     4.0  1425942228
10             1     4878     5.0  1425941434
11             1     5577     5.0  1425941397
12             1    33794     4.0  1425942005
13             1    54503     3.5  1425941313
14             1    58559     4.0  1425942007
15             1    59315     5.0  1425941502
16             1    68358     5.0  1425941464
17             1    69844     5.0  1425942139
18             1    73017     5.0  1425942699
19             1    81834     5.0  1425942133
20             1    91500     2.5  1425942647
21             1    91542     5.0  1425942618
22             1    92439     5.0  1425941424
23             1    96821     5.0  1425941382
24             1    98809     0.5  1425942640
25             1    99114     4.0  1425941667
26             1   112552     5.0  1425941336
27             2        5     3.0   867039249
28             2       25     3.0   867039168
29             2       32     2.0   867039166
...          ...      ...     ...         ...
26024259  270896    41566     3.5  1257034128
26024260  270896    44191     5.0  1257031546
26024261  270896    44195     4.0  1257034427
26024262  270896    45499     3.0  1257034131
26024263  270896    45722     3.5  1257031715
26024264  270896    46578     4.5  1257034037
26024265  270896    48385     4.0  1257031939
26024266  270896    48394     5.0  1257031861
26024267  270896    48516     4.5  1257031526
26024268  270896    48774     5.0  1257032040
26024269  270896    48780     5.0  1257031830
26024270  270896    49272     4.0  1257031474
26024271  270896    49530     4.0  1257034436
26024272  270896    50872     5.0  1257034000
26024273  270896    50954     2.5  1257034179
26024274  270896    51255     4.5  1257033927
26024275  270896    51662     4.5  1257031928
26024276  270896    52973     3.5  1257034325
26024277  270896    53996     3.0  1257034282
26024278  270896    54001     4.0  1257034331
26024279  270896    54286     4.5  1257031701
26024280  270896    54503     4.0  1257033886
26024281  270896    55820     5.0  1257031660
26024282  270896    56174     3.5  1257034085
26024283  270896    56367     4.5  1257031529
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [7]:
user[1000:]

          userId  movieId  rating   timestamp
1000          15     3275     2.5  1346007989
1001          15     3361     3.0  1346002218
1002          15     3362     5.0  1346009407
1003          15     3384     4.0  1346008453
1004          15     3481     4.0  1346009511
1005          15     3504     4.5  1346009363
1006          15     3507     4.5  1346009400
1007          15     3508     5.0  1346002582
1008          15     3527     4.5  1346008266
1009          15     3555     0.5  1346002244
1010          15     3578     4.0  1346008604
1011          15     3654     2.0  1346007981
1012          15     3671     5.0  1346016139
1013          15     3681     4.5  1346008093
1014          15     3703     2.5  1346002572
1015          15     3836     4.0  1346008461
1016          15     3868     3.5  1346002221
1017          15     3996     4.0  1346008209
1018          15     4011     4.0  1346009506
1019          15     4027     5.0  1346009501
1020          15     4262     5.0  1346008127
1021          15     4327     4.0  1346002589
1022          15     4855     4.5  1346008104
1023          15     4881     4.0  1346009257
1024          15     4886     4.0  1346009528
1025          15     4973     4.5  1346009459
1026          15     4979     5.0  1346009416
1027          15     5010     2.0  1346008769
1028          15     5060     5.0  1346009352
1029          15     5418     4.5  1346008394
...          ...      ...     ...         ...
26024259  270896    41566     3.5  1257034128
26024260  270896    44191     5.0  1257031546
26024261  270896    44195     4.0  1257034427
26024262  270896    45499     3.0  1257034131
26024263  270896    45722     3.5  1257031715
26024264  270896    46578     4.5  1257034037
26024265  270896    48385     4.0  1257031939
26024266  270896    48394     5.0  1257031861
26024267  270896    48516     4.5  1257031526
26024268  270896    48774     5.0  1257032040
26024269  270896    48780     5.0  1257031830
26024270  270896    49272     4.0  1257031474
26024271  270896    49530     4.0  1257034436
26024272  270896    50872     5.0  1257034000
26024273  270896    50954     2.5  1257034179
26024274  270896    51255     4.5  1257033927
26024275  270896    51662     4.5  1257031928
26024276  270896    52973     3.5  1257034325
26024277  270896    53996     3.0  1257034282
26024278  270896    54001     4.0  1257034331
26024279  270896    54286     4.5  1257031701
26024280  270896    54503     4.0  1257033886
26024281  270896    55820     5.0  1257031660
26024282  270896    56174     3.5  1257034085
26024283  270896    56367     4.5  1257031529
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26023289 rows x 4 columns]

In [8]:
user["rating"].head(10)

0    1.0
1    4.5
2    5.0
3    5.0
4    5.0
5    4.0
6    4.5
7    5.0
8    4.0
9    4.0
Name: rating, dtype: float64

In [10]:
user[user.rating > 4.4]

          userId  movieId  rating   timestamp
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
6              1     2762     4.5  1425941300
7              1     2918     5.0  1425941593
10             1     4878     5.0  1425941434
11             1     5577     5.0  1425941397
15             1    59315     5.0  1425941502
16             1    68358     5.0  1425941464
17             1    69844     5.0  1425942139
18             1    73017     5.0  1425942699
19             1    81834     5.0  1425942133
21             1    91542     5.0  1425942618
22             1    92439     5.0  1425941424
23             1    96821     5.0  1425941382
26             1   112552     5.0  1425941336
35             2      339     5.0   867041296
46             2     1356     5.0   867039288
62             4     1097     5.0  1042667925
65             4     1221     5.0  1042667903
75             4     2023     5.0  1042667945
78             4     2396     5.0  1042672546
89             4     2762     5.0  1042672546
97             4     3114     5.0  1042672580
102            4     3408     5.0  1042668604
124            5      541     5.0   949424321
125            5      750     5.0   949424271
126            5      858     5.0   949424168
127            5      908     5.0   949424374
...          ...      ...     ...         ...
26024227  270896     6711     5.0  1257031703
26024229  270896     6870     5.0  1257034443
26024230  270896     6874     5.0  1257031415
26024231  270896     6942     4.5  1257034425
26024233  270896     7147     4.5  1257032018
26024234  270896     7153     5.0  1257031583
26024235  270896     7361     5.0  1257031470
26024236  270896     7438     5.0  1257031675
26024243  270896     8784     5.0  1257033826
26024245  270896     8874     4.5  1257033950
26024246  270896     8949     4.5  1257034102
26024249  270896    30707     5.0  1257034200
26024251  270896    32587     5.0  1257031573
26024252  270896    33166     4.5  1257034186
26024260  270896    44191     5.0  1257031546
26024264  270896    46578     4.5  1257034037
26024266  270896    48394     5.0  1257031861
26024267  270896    48516     4.5  1257031526
26024268  270896    48774     5.0  1257032040
26024269  270896    48780     5.0  1257031830
26024272  270896    50872     5.0  1257034000
26024274  270896    51255     4.5  1257033927
26024275  270896    51662     4.5  1257031928
26024279  270896    54286     4.5  1257031701
26024281  270896    55820     5.0  1257031660
26024283  270896    56367     4.5  1257031529
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990

[5982940 rows x 4 columns]

In [13]:
user[user.movieId < 10]

          userId  movieId  rating   timestamp
27             2        5     3.0   867039249
121            5        7     3.0   949423844
204            8        1     4.0  1013443596
205            8        7     2.0  1013442976
317            9        1     4.5  1073837180
641           12        1     4.0   943912205
905           15        6     4.0  1346008202
1358          20        1     4.0  1368361348
1710          24        1     4.0   979869938
1711          24        2     3.0   979974023
1712          24        6     4.0   979870499
2344          25        2     3.0   838419351
2382          27        1     3.5  1201213305
2805          34        1     3.0  1498760963
2806          34        2     3.0  1498761848
2807          34        6     4.0  1498761067
3122          37        1     3.5  1301635308
3337          40        1     4.0   862515453
3338          40        5     4.0   862515493
3339          40        7     3.0   862515528
3358          41        1     3.5  1445256336
3528          43        1     3.5  1179198876
3529          43        2     4.0  1179199137
3773          44        1     5.0   834753794
3792          46        1     4.5  1045606538
3793          46        3     3.5  1046465682
3794          46        6     3.0   979328509
4558          47        1     5.0  1169076292
4806          49        1     5.0  1149447665
4807          49        2     4.5  1149447909
...          ...      ...     ...         ...
26018947  270859        6     3.0  1078551392
26019232  270860        2     3.0   840905039
26019311  270861        1     4.0   850559261
26019312  270861        7     3.0   850559292
26019329  270863        1     4.0   861834566
26019379  270866        1     2.0   862316422
26019380  270866        6     3.0   862316470
26019429  270868        1     4.0  1453408926
26019521  270869        1     4.0   923383124
26019522  270869        2     2.0   923383968
26019651  270871        1     5.0  1394303164
26019652  270871        2     2.5  1394318554
26019912  270872        1     3.5  1199231499
26020167  270875        1     4.5  1301586371
26020203  270876        4     2.5  1397775121
26020219  270877        2     5.0   832434474
26020304  270879        1     3.0  1129644995
26020305  270879        2     3.5  1129644896
26021021  270887        1     5.0  1462998551
26021022  270887        2     5.0  1463513469
26021023  270887        3     4.0  1463778003
26021024  270887        6     5.0  1463511691
26021025  270887        9     5.0  1490481319
26023554  270891        3     3.0   834428580
26023555  270891        6     3.0   835259247
26023556  270891        7     4.0   835259142
26023557  270891        9     3.0   835259247
26023596  270892        1     4.0  1226039517
26023671  270893        1     4.0   992896512
26024029  270896        1     4.5  1257031442

[174800 rows x 4 columns]

In [14]:
user[10:15]

    userId  movieId  rating   timestamp
10       1     4878     5.0  1425941434
11       1     5577     5.0  1425941397
12       1    33794     4.0  1425942005
13       1    54503     3.5  1425941313
14       1    58559     4.0  1425942007

In [15]:
rate = pd.read_csv('credits.csv')

In [16]:
rate.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [ ]:
ratings = pd.read_csv('ratings.csv', sep = '|')